@import url("https://fonts.googleapis.com/css2?family=Geist:wght@300;400;500;600;700&display=swap");

.cartList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Geist", sans-serif;
}
.currItem {
  display: flex;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  overflow: hidden;
  background: white;
}
.product {
  width: 80%;
  height: 80%;
  object-fit: contain;
}
.imageBox {
  height: 300px;
  width: 300px;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
}
.quantityBnt{
    display: flex;
    align-items: center;
    gap: 2px;
}
.quantity {
  border: 1px solid black;
  padding: 2px 10px;
  background-color: white;
}
.quantityDecrease {
  font-size: 1.5rem;
  background-color: #f44336; /* Red */
  border: none;
  color: white;
  padding: 2px 10px;
  cursor: pointer;
  border-radius: 5px;
}
.quantityIncrease {
  font-size: 1.5rem;
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 2px 10px;
  cursor: pointer;
  border-radius: 5px;
}
.quantityIncrease:hover {
  background-color: #45a049; /* Darker green on hover */
}
.quantityDecrease:hover {
  background-color: #d32f2f; /* Darker red on hover */
}
.quantityIncrease:active {
  background-color: #388e3c; /* Even darker green on click */
  transform: scale(0.9);
}
.quantityDecrease:active {
  background-color: #b71c1c; /* Even darker red on click */
  transform: scale(0.9);
}
.removeButton {
  background-color: #f44336; /* Red */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
.removeButton:hover {
  background-color: #d32f2f; /* Darker red on hover */
}
.removeButton:active {
  background-color: #b71c1c; /* Even darker red on click */
  transform: scale(0.9);
}
